<section class="bg-gray-100">
  <div class="grid md:grid-cols-12 items-center gap-x-10">
    <div class="col-span-6">
      <img
        src="/auth5.jpg"
        class="h-screen w-full object-cover"
        alt="authImage"
      />
    </div>

    <form class="max-w-xl col-span-6" [formGroup]="changePasswordForm"    (ngSubmit)=" updateLoggedUserPassword() ">
      <app-input
        [control]="changePasswordForm.get('currentPassword')"
        [id]="'password'"
        [label]="'CurrentPassword'"
      >
        <li>
          Password must be at least 8 characters and include uppercase,
          lowercase, and a number"
        </li>
      </app-input>




      <app-input
        [control]="changePasswordForm.get('password')"
        [id]="'password'"
        [label]="'Password'"
      >
        <li>
          Password must be at least 8 characters and include uppercase,
          lowercase, and a number"
        </li>
      </app-input>


      <app-input
        [control]="changePasswordForm.get('rePassword')"
        [id]="'password'"
        [label]="'RePassword'"
      >
        <li>
          Password must be at least 8 characters and include uppercase,
          lowercase, and a number"
        </li>
      </app-input>


      
      <button class="btn">CHANGE PASSWORD</button>
    </form>
  </div>
</section>
