<section class="">
  <div class="lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-10">
    <div class="lg:col-span-6">
      <img
        src="/auth5.jpg"
        class="h-[500px] lg:h-screen w-full object-cover"
        alt="authImage"
      />
    </div>

    <form
      class="mt-5 md:w-[90%] md:mx-auto lg:max-w-xl lg:col-span-6"
      [formGroup]="changePasswordForm"
      (ngSubmit)="updateLoggedUserPassword()"
    >
      <app-input
        [control]="changePasswordForm.get('currentPassword')"
        [id]="'password'"
        [label]="'auth.currentPassword' | translate"
      >
        <li>
          {{ "auth.passsMessage" | translate }}
        </li>
      </app-input>

      <app-input
        [control]="changePasswordForm.get('password')"
        [id]="'password'"
        [label]="'auth.password' | translate"
      >
        <li>
          {{ "auth.passsMessage" | translate }}
        </li>
      </app-input>

      <app-input
        [control]="changePasswordForm.get('rePassword')"
        [id]="'password'"
        [label]="'auth.rePassword' | translate"
      >
        <li>
          {{ "auth.passsMessage" | translate }}
        </li>
      </app-input>

      <button class="btn">{{ "auth.changePassowrd" | translate }}</button>
    </form>
  </div>
</section>
