<section class="my-20">
  <div class="container">
    <div class="grid md:grid-cols-12 gap-x-10">
      <div class="col-span-8">
        <h3>Delivery Information</h3>

        <form class=" mt-3"  [formGroup]="checkoutForm" (ngSubmit)="checkoutUp($event)"  >
          <app-input
            [control]="checkoutForm.get('shippingAddress')?.get('details')"
            id=" details "
            [type]="'text'"
            element="area"
            [label]="'Details'"
          ></app-input>

           <app-input
            [control]="checkoutForm.get('shippingAddress')?.get('phone')"
            id="phone "
            [type]="'tel'"
            [label]="'phone'"
          >
            <li>Enter a valid Egyptian phone number</li>
          </app-input>

          <app-input
            [control]="checkoutForm.get('shippingAddress')?.get('city')"
            id="city"
            [type]="'text'"
            [label]="'city'"
          >
          </app-input>


          <div class="mt-10">
            <h3  class="font-black text-fuchsia-600 text-2xl">Payment Methods</h3>
  
            <div class="bg-white flex justify-between py-10 px-3 shadow-lg">
              <button
                type="submit"
                value="online"
                class="hover:text-fuchsia-600 cursor-pointer transition-all duration-150"
              >
                Online Payment
              </button>
              <button
                 type="submit"
                value="chache"
                class="hover:text-fuchsia-600 cursor-pointer transition-all duration-150"
              >
                Chache On Delivery
              </button>
            </div>
          </div> 
        </form>

      </div>







      <div class="col-span-4">
        @for (record of cartDetails.products; track $index) {
        <div class="grid md:grid-cols-12 my-5 items-center">
          <div class="col-span-6">
            <img
              [src]="record.product.imageCover"
              [alt]="record.product.title"
              class="w-[100px]"
            />
          </div>

          <div class="col-span-6">
            <p>{{ record.product.title }}</p>
            <span>{{ record.price | currency : "GBP" }}</span>
          </div>
        </div>
        }

        <p
          class="text-center mx-auto mt-5 font-bold border-transparent border rounded-lg bg-gray-200 w-fit py-3 px-5"
        >
          TOTAL {{ cartDetails.totalCartPrice }}
        </p>
      </div>
    </div>
  </div>
</section>
