<section class="my-20">
  <div class="container">
    <div class="text-center">
      <h1 class="font-bold text-5xl text-black">Contact Our Frindly Team</h1>

      <p class="uppercase my-5">let us know how we can help</p>
    </div>

    <div class="flex  gap-x-3">

      <div class="border-2 border-gray-100 rounded-lg w-[48%] p-10">
        <span class="border border-gray-200 p-1 rounded">
            <i class="fa-solid fa-face-smile  text-fuchsia-500"></i>
          
        </span>
        <div class="my-5">
          <h2 class="uppercase">chat to sales</h2>
          <p class="text-gray-500">speek to our frindly team</p>
          <a class="underline"> sales@untitledui.com</a>
        </div>
      </div>

      <div class="border-2 border-gray-100 rounded-lg  w-[48%] p-10">
        <span class="border border-gray-200 p-1 rounded">
          <i class="fa-solid fa-message text-fuchsia-500"></i>
        </span>
        <div class="my-5">
          <h2 class="uppercase">chat to support</h2>
          <p class="text-gray-500">we are here to help .</p>
          <a class="underline"> support@untitledui.com</a>
        </div>
      </div>

      <div class=" border-gray-100 border-2 rounded-lg w-[48%] p-10">
        <span class="border border-gray-200 p-1 rounded">
            <i class="fa-solid fa-location-dot text-fuchsia-500"></i>
        </span>
        <div class="my-5">
          <h2 class="uppercase">visit us </h2>
          <p class="text-gray-500">visit our office HQ.</p>
          <a class="underline uppercase"> view on google map </a>
        </div>
      </div>

      <div class="border-2 border-gray-100 rounded-lg  w-[48%] p-10">
        <span class="border border-gray-200 p-1 rounded">
          <i class="fa-solid fa-phone text-fuchsia-500"></i>
        </span>
        <div class="my-5">
          <h2 class="uppercase">call us </h2>
          <p class="text-gray-500">mon-fri from 8am to 5pm</p>
          <a class="underline"> +1(555)000-0000</a>
        </div>
      </div>
    </div>




    
  </div>
</section>
