<section class="my-20">
  <div class="container">
    <div class="grid md:grid-cols-12 gap-10">
      <div class="col-span-6 shadow-lg py-30 px-10">
        <span class="text-fuchsia-600">How It Started </span>

        <h1 class="font-bold text-6xl text-black pt-4">
          Our Dream Is <br />
          Global Markting
        </h1>

        <div class="pt-20">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, veniam
            aperiam rerum maxime ad numquam ipsum distinctio illo quos error rem
            perferendis et, sint architecto. Nesciunt, assumenda libero. Minima
            quibusdam rerum, esse culpa molestias, nemo inventore excepturi
            optio, illo ut velit veritatis quos assumenda. Ipsam possimus ad aut
            nostrum! Reprehenderit.
          </p>
        </div>
      </div>

      <div class="col-span-6 gap-10">
        <img src="/homeImages/h1.jpg" class="w-full rounded-lg" alt="" />

        <div class="flex flex-wrap my-3 gap-5">
          <div class="bg-gray-50 rounded-lg p-5 w-[48%]">
            <span> 3.5 </span>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>

          <div class="bg-gray-50 rounded-lg p-5 w-[48%]">
            <span>23</span>
            <p>Project Challenge</p>
          </div>

          <div class="bg-gray-50 rounded-lg p-5 w-[48%]">
            <span> 3.5 </span>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="bg-gray-50 rounded-lg p-5 w-[48%]">
            <span>23</span>
            <p>Project Challenge</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
