<section  class="my-20">
  <div class="container">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-6 relative">
        <img src="/homeImages/h1.jpg" class="w-full" alt="" />

        <div class=" hidden md:block absolute bottom-[20%]   px-4 text-white">
          <h4 class="md:text-2xl">Girl Clothes</h4>
          <p class="md:text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut,
            facilis?
          </p>
        </div>
      </div>

      <div class="col-span-6  relative">
        <img src="/homeImages/h2.webp" class="w-full" alt="" />

          <div class="absolute bottom-[20%] px-4 text-white hidden md:block">
          <h4 class="text-2xl">T-Shirts</h4>
          <p class="text-sm">
            Lorem ipsum dolor sit dipisicing elit. Ut,
            facilis?
          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-x-4 my-4">
      <div class="col-span-6 relative">
        <img src="/homeImages/h9.jpg" class="w-full" alt="" height="421px" />
          <div class="absolute bottom-[20%] px-4 text-white hidden md:block">
          <h4 class="text-2xl">Waterproof Jacket</h4>
          <p class="text-sm">
            Lorem ipsum dolor sit amet 
          </p>
        </div>
      </div>

      <div class="col-span-6  relative">
        <img src="/homeImages/h8.jpg" class="w-full" alt="" />
          <div class="absolute bottom-[20%] px-4 text-white hidden md:block">
          <h4 class="text-2xl">Men Clothes </h4>
          <p class="text-sm">
            Lorem ipsum dolor sit amet  facilis?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
