<section class="my-20">
  <div class="container">
    <div class="lg:grid lg:grid-cols-12 lg:gap-4">
      <div class="lg:col-span-6 relative">
        <img src="/homeImages/h1.jpg" class="w-full" alt="" />

        <div class="block absolute bottom-[20%] px-4 text-white">
          <h4 class="lg:text-2xl">
            {{ "home.static.girl-clothes" | translate }}
          </h4>
          <p class="lg:text-sm">
            {{ "home.lorem" | translate }}
          </p>
        </div>
      </div>

      <div class="lg:col-span-6 relative">
        <img src="/homeImages/h2.webp" class="w-full" alt="" />

        <div class="absolute bottom-[20%] px-4 text-white block">
          <h4 class="text-2xl">{{ "home.static.t-shirts" | translate }}</h4>
          <p class="text-sm">
            {{ "home.lorem" | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="lg:grid lg:grid-cols-12 gap-x-4 lg:my-4">
      <div class="lg:col-span-6 relative">
        <img src="/homeImages/h9.jpg" class="w-full" alt="" height="421px" />
        <div class="absolute bottom-[20%] px-4 text-white block">
          <h4 class="text-2xl">
            {{ "home.static.waterproof-jacket" | translate }}
          </h4>
          <p class="text-sm">{{ "home.lorem" | translate }}</p>
        </div>
      </div>

      <div class="col-span-6 relative">
        <img src="/homeImages/h8.jpg" class="w-full" alt="" />
        <div class="absolute bottom-[20%] px-4 text-white block">
          <h4 class="text-2xl">{{ "home.static.men-clothes" | translate }}</h4>
          <p class="text-sm">{{ "home.lorem" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
