<section class="p-3">
    <div class="wave-footer relative">
      <div class="grid md:grid-cols-12 items-center md:px-30 ">

        <div class=" hidden  md:flex col-span-6  space-x-20 py-19">


          <div class="md:col-span-2">
            <h2 class="h2-style font-black">SHOP</h2>
            <ul>
              <li>Products</li>
              <li>Brands</li>
              <li>Categroies</li>
            </ul>
          </div>



          <div class="md:col-span-2">
            <h2 class="h2-style font-black">HELP</h2>
            <ul>
              <li>Contact Us</li>
              <li>FAQ</li>
              <li>Accessability</li>
              <li>Privacy Policy</li>
              <li>Terms</li>
            </ul>
          </div>



          <div class="md:col-span-2">
            <h2 class="h2-style  font-black">ABOUT</h2>
            <ul>
              <li>Careers</li>
              <li>Press</li>
              <li>Join Our Team</li>
              <li>Get In Touch</li>
              <li>Our Salry</li>
              <li>Shipping</li>
              <li>Our Story</li>
            </ul>
          </div>
        </div>








        <div class="md:col-span-6">
          <h2 class="font-bold text-center">FOLLOW US</h2>

          <ul class="flex justify-center space-x-2 text-xl my-2 text-white">
            <li class="oval">
              <a href="#"> <i class="fa-brands fa-facebook-f"></i> </a>
            </li>
            <li class="oval">
              <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
            </li>
            <li class="oval">
              <a href="#"> <i class="fa-brands fa-pinterest"></i> </a>
            </li>
            <li class="oval">
              <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
            </li>
          </ul>
        </div>
      </div>

      <hr class="text-black font-semibold" />

      <p class="text-sm absolute bottom-2">
        @2025 Victorious.All rights reserved
      </p>
    </div>
</section>
