<section class="">
  <div class="lg:grid lg:grid-cols-12 items-center lg:gap-x-20">
    <div class="col-span-6">
      <img
        src="/auth5.jpg"
        class="h-[500px] lg:h-screen w-full object-cover"
        alt="authImage"
      />
    </div>

    <form
      [formGroup]="loginForm"
      class="mt-4 md:w-[90%] mx-auto lg:max-w-xl lg:col-span-6"
      (ngSubmit)="login()"
    >
      <app-input
        [control]="loginForm.get('email')"
        [id]="'email'"
        [type]="'email'"
        [label]="'auth.email' | translate"
      >
      </app-input>

      <app-input
        [control]="loginForm.get('password')"
        [id]="'password'"
        [label]="'auth.password' | translate"
      >
        <li>
          {{ "auth.passMessage" | translate }}
        </li>
      </app-input>

      @if (errorMsg) {
      <div
        class="mt-5 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium"> {{ errorMsg | titlecase }} </span>
        </div>
      </div>
      }

      <button type="submit" class="btn">
        {{ "auth.signin" | translate }} @if(callAPI) {
        <i class="fas fa-spinner fa-spin text-white"></i>
        }
      </button>

      <p
        routerLink="/forgotpassword"
        class="px-10 underline cursor-pointer text-blue-600 py-3 lg:px-0"
      >
        {{ "auth.forgetPassword" | translate }}
      </p>

      <div class="text-center mt-5">
        {{ "auth.newInShipShop" | translate }}
        <a routerLink="/signup" class="text-blue-600 cursor-pointer underline">
          {{ "auth.signup" | translate }} ?
        </a>
      </div>
    </form>
  </div>
</section>
