<section class="">
  <div class="">
    <div class="grid md:grid-cols-12 items-center gap-x-10 bg-gray-100">
      <div class="col-span-6">
        <img
          src="/auth5.jpg"
          class="h-screen w-full object-cover"
          alt="authImage"
        />
      </div>

      @if(stepper === 1) {
      <form
        class="max-w-xl col-span-6"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="forgetPassword()"
      >
        <app-input
          [control]="forgotPasswordForm.get('email')"
          [id]="'email'"
          [type]="'email'"
          [label]="'Email'"
        >
        </app-input>

        <button class="btn">Send Code</button>
      </form>
      } @else if (stepper === 2) {
      <form
        class="max-w-xl col-span-6"
        [formGroup]="verifyResetCodeForm"
        (ngSubmit)="verifyResetCode()"
      >
        <app-input
          [control]="verifyResetCodeForm.get('resetCode')"
          [id]="'resetCode'"
          [type]="'text'"
          [label]="'ResetCode'"
        >
        </app-input>

        <button class="btn">Verify Reset Code</button>
      </form>
      } @else if ( stepper === 3) {

      <form
        class="max-w-xl col-span-6"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()"
      >
        <app-input
          #email
          [control]="resetPasswordForm.get('email')"
          [id]="'email'"
          [type]="'email'"
          [label]="'Email'"
        >
        </app-input>

        <app-input
          [control]="resetPasswordForm.get('newPassword')"
          [id]="'password'"
          [label]="'Password'"
        >
          <li>
            Password must be at least 8 characters and include uppercase,
            lowercase, and a number"
          </li>
        </app-input>

        <button class="btn">reset Password</button>
      </form>
      }
    </div>
  </div>
</section>
